html{ box-sizing: border-box;
    width:80vmax;
    margin-left: 10%;

}
.navbar{
    background: rgb(14, 164, 181);
    width: 70%;
    height: 40px;
    padding: 15px 0px 0px 0px;
    margin-bottom: 15px;
    margin-left: 15%;
    position: relative;
    }
    #titleName {
        text-align: left;
        font-weight: bolder;
        font-size: larger;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(255, 255, 255);
        margin-right: 35%;
        margin-left: 20px;
    }
    #navitem {
        margin-right: 20px;
        margin-left: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(255,255,255);
        font-weight: lighter;
        font-variant: normal;
        text-align: right;
    }
.headbanner{
    width: 70%;
    height:400px;
    text-align: center;
    margin-left: 15%;
}
.headbanner p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder; 
    font-size: larger;
    font-variant-caps: titling-caps;
    color: rgb(14, 164, 181);
    margin-bottom: 0%;
}
#jobtitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold; 
    font-size:medium;
    font-variant-caps: titling-caps;
    color: black;
}
#perspics {
    height: 80%;
    border-radius: 50% 50% 50% 50%;
}
.banner{
    width: 70%;
    height:300px;
    text-align: center;
    margin-left: 15%;
    margin-top: 50px;
    column-count: 2;
    padding-top: 50px;
    background-color: rgb(14, 164, 181);
    }
#divbanner {
    text-align: left;
    width: 400px;
    height:80%;
    margin-left: 85px;
    margin-right: 10px;
    margin-top: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-weight: lighter; */
}
#para1 {
    font-weight: bolder; 
    font-size: larger;
    font-variant-caps: titling-caps;
}
#para1a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder; 
    font-size: larger;
    font-variant-caps: titling-caps;
}
.srvcbanner{
    width: 70%;
    height:300px;
    text-align: center;
    margin-top: 50px;
    margin-left: 15%;
    padding-top: 30px;
    
}
#para2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder; 
    font-size: larger;
    font-variant-caps: titling-caps;
    color: rgb(14, 164, 181);
    margin-left: -480px;
     }
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background: rgb(255,255,255);
    height: 60%;
    color: white;
    font-size: medium;
    margin-left: 5%;
    margin-right: 5%;
    }
li{
    width: 350px;
    background: black;
    margin: 25px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 10px 10px 10px;
    font-size:smaller;
    }
#lispan {
    font-weight: bolder;
}
footer {
    width: 70%;
    height:150px;
    color: white;
    text-align: center;
    margin-left: 15%;
    background-color: rgb(14, 164, 181);
    padding-top: 100px;
}